<!DOCTYPE html>
<html lang="js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>電卓</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <div id="app1" class="container">
    <p class="display">{{ message }}</p>
    <div id="buttons">
      <div class="row" v-for="rows in list">
        <calc-button v-for="item in rows" v-bind:key="item.id" v-bind:name="item.name" v-bind:type="item.type" v-bind:order="item.order" v-on:num="num" v-on:cal="cal" v-on:ans="ans" v-on:reset="reset"></calc-button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>